@import url(../canary-post/assets/canarypost.woff);
@import url(../canary-post/assets/canarypost.woff2);
@import url(../canary-post/assets/canarypost.ttf);

/* Fonts */
@font-face {
  font-family: "Canary Post";
  src: url('../canary-post/assets/canarypost.ttf') format('truetype'),
       url('../canary-post/assets/canarypost.woff') format('woff'),
       url('../canary-post/assets/canarypost.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Variables */
:root {
  --canary-post: "Canary Post";
}

/* Global Styles */
html {
  overflow: hidden;
}

body {
  font-family: var(--canary-post);
}

/* Body Styles */

#canvas {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sticky Note */
.sticky-wrapper {
  position: relative;
  max-width: 90%;
  overflow: visible;
  display: flex;
  align-items: center;
  transition: all 300s ease-out;
}

.sticky {
  aspect-ratio: 1 / 1;
  height: min(64%, 400px);
  max-width: 600px;
  padding: 4vw 4vh;
  border-radius: 0.5vh;
  background: #F5DB11;
}

/* Text area */
.sticky textarea {
  resize: none;
  font-family: inherit;
  font-size: min(8vh, 8vw);
  line-height: 1.15;
  text-transform: capitalize;
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sticky textarea:focus-visible {
  outline: none; 
}

/* Shadow */
.sticky-wrapper::after {
  content: "";
  aspect-ratio: 1 / 1;
  height: 100%;
  width: auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 28.13%, #000000 100%);
  opacity: 20%;
  top: 0;
  left: 0;
  position: absolute;
  transform: translateY(16px);
  filter: blur(16px);
  z-index: -1;
}

.sticky-wrapper:hover::after {
  opacity: 40%;
}
